<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="jquery.js"></script>
  <script src="https://kit.fontawesome.com/66782e1a94.js" crossorigin="anonymous"></script>
  <title>Movie</title>
</head>

<body id="search">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/">YouCritic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/login_register">Sign Up | Log<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
      <section id="error-section" class="error" hidden='true'></section>

    </nav>

    <main>
      <h2>Hello! Let's get browsing!</h2>
      <section id="searchSection">
        <form id="searchForm" class="form-inline my-2 my-lg-0">
          <input type="text" class="form-control" id="searchText" placeholder="Search Movies...">
          <button class="btn btn-warning" type="submit">Search</button>
        </form>
      </section>
      <div id="movies" class="row"></div>
    </main>
    <footer>
      <div class="flex container">
        <div class="footer-about">
          <h5>About YouCritic</h5>
          <p>Have a hot take? YouCritic is the sight where you can search movies, read reviews, and write them as well!
            By signing up you can create a profile that tracks
            all of your reviews!
          </p>
        </div>

        <div class="footer-subscribe">
          <h5>Subscribe to our Newsletter</h5>
          <div id="subscribe-container">
            <input type="text" placeholder="Enter Email" />
            <button class="right-rounded">Send</button>
          </div>
        </div>
      </div>

      <small>
        Coding Dojo Solo Project | This site is made by Ryan Fortner | Email: ryan.fortner1@gmail.com | <a
          href="#">Portfolio</a> | <a href="https://github.com/Ryan-Fortner">GitHub</a> | <a
          href="https://www.linkedin.com/in/ryan-fortner-2281b3b6/">LinkedIn</a>
      </small>
    </footer>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/66782e1a94.js" crossorigin="anonymous"></script>
  <script src="../static/script.js"></script>
  <script>
    getMovie();
  </script>
</body>

</html>