<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>YoCritc New Review</title>
</head>

<body>
    <div class="container">
        <header>
            <a id="logout" class="btn btn-primary float-right" href="/logout">Logout</a>
            <h1>Hey {{user.first_name}}! What's your hot take?</h1>
        </header>
        <hr>
        <section>
            <form action="/review/create" method="POST">
                <span>Movie Title:</span>
                <div>
                    <label for="item"></label>
                    <input type="text" name="item">
                </div>
                <span>Review:</span>
                <div>
                    <label for="Review"></label>
                    <textarea rows="15" cols="50" type="text" name="content"></textarea>
                </div>
                <a id="cancel" class="btn btn-danger float-right" href="/reviews">Cancel</a>
                <input type="submit">
            </form>
        </section>
        <hr>
    </div>
</body>

</html>